%cp400{
  font-family: 'Chakra Petch', sans-serif;
  font-weight: 400;
}
%cp500{
  font-family: 'Chakra Petch', sans-serif;
  font-weight: 500;
}
%cp700{
  font-family: 'Chakra Petch', sans-serif;
  font-weight: 700;
}

:root{
  --main-color: #fff;
}